## Date list

#### Find start and end dates

In [9]:
import pandas

In [12]:
dates_df = pandas.read_csv('enderby_CMMTdatetimes.csv', header=1)
print dates_df

    Start YYYY-MM-DD Start Time UTC End YYYY-MM-DD End Time UTC Unnamed: 4
0         1994-07-06          03:00     1994-07-09        00:00        NaN
1         1994-11-04          03:00     1994-11-05        15:00      skirt
2         1995-04-19          18:00     1995-04-21        03:00      skirt
3         1996-09-18          18:00     1996-09-20        21:00      skirt
4         1996-10-07          06:00     1996-10-08        21:00      skirt
5         1996-10-27          00:00     1996-10-28        06:00      skirt
6         1997-03-04          15:00     1997-03-06        12:00      skirt
7         1997-04-26          12:00     1997-04-27        15:00      skirt
8         1997-06-17          18:00     1997-06-18        21:00      skirt
9         1998-05-13          21:00     1998-05-15        06:00      skirt
10        1998-07-20          00:00     1998-07-22        00:00      skirt
11        1998-07-25          18:00     1998-07-28        03:00      skirt
12        1999-01-07          03:00     1999-01-10        21:00        NaN
13        1999-02-04          18:00     1999-02-07        21:00      skirt
14        1999-02-15          12:00     1999-02-16        21:00      skirt
15        1999-03-04          18:00     1999-03-06        18:00      skirt
16        1999-04-12          18:00     1999-04-17        21:00        NaN
17        1999-05-10          18:00     1999-05-12        00:00      skirt
18        1999-06-10          21:00     1999-06-13        15:00        NaN
19        1999-06-24          21:00     1999-06-27        06:00        NaN
20        1999-07-02          06:00     1999-07-03        21:00      skirt
21        1999-09-07          18:00     1999-09-09        16:00      skirt
22        1999-09-11          06:00     1999-09-12        09:00      skirt
23        1999-10-05          03:00     1999-10-06        00:00      skirt
24        1999-10-26          03:00     1999-10-27        06:00      skirt
25        1999-11-04          18:00     1999-11-07        06:00      skirt
26        1999-12-20          12:00     1999-12-22        09:00      skirt
27        2000-01-09          06:00     2000-01-11        18:00        NaN
28        2000-05-08          21:00     2000-05-09        21:00      skirt
29        2000-05-11          12:00     2000-05-16        03:00        NaN
..               ...            ...            ...          ...        ...
117       2009-10-09          19:00     2009-10-13        12:00        NaN
118       2009-10-15          09:00     2009-10-16        10:00      skirt
119       2009-10-18          21:00     2009-10-20        12:00      skirt
120       2009-10-23          07:00     2009-10-27        12:00        NaN
121       2009-11-20          07:00     2009-11-23        10:00        NaN
122       2009-12-22          15:00     2009-12-24        18:00        NaN
123       2009-12-29          09:00     2010-01-01        01:00        NaN
124       2010-01-15          08:00     2010-01-18        00:00        NaN
125       2010-04-13          01:00     2010-04-15        03:00        NaN
126       2010-10-11          19:00     2010-10-13        10:00      skirt
127       2010-10-16          06:00     2010-10-18        16:00        NaN
128       2010-10-28          01:00     2010-10-29        23:00      skirt
129       2010-11-04          01:00     2010-11-09        00:00        NaN
130       2010-11-13          10:00     2010-11-17        18:00        NaN
131       2010-12-08          20:00     2010-12-11        10:00        NaN
132       2011-01-02          19:00     2011-01-07        02:00        NaN
133       2011-01-15          15:00     2011-01-19        00:00        NaN
134       2011-02-15          21:00     2011-02-17        00:00      skirt
135       2011-03-14          15:00     2011-03-16        04:00      skirt
136       2011-04-02          12:00     2011-04-04        14:00        NaN
137       2011-04-05          09:00     2011-04-07        00:00        NaN
138       2011-04-29          01:00     2011-04-30        08:00      skirt
139       2011-05-24          21:00     2011-05-26        10:00      skirt
140       2011-06-20          04:00     2011-06-21        11:00      skirt
141       2011-06-24          17:00     2011-06-26        07:00      skirt
142       2012-04-16          18:00     2012-04-17        17:00      skirt
143       2012-06-11          23:00     2012-06-15        22:00        NaN
144       2012-08-03          05:00     2012-08-04        10:00      skirt
145       2012-08-24          00:00     2012-08-27        11:00        NaN
146       2012-10-28          13:00     2012-10-30        20:00      skirt

[147 rows x 5 columns]

In [16]:
for index, row in dates_df[['Start YYYY-MM-DD', 'End YYYY-MM-DD']].iterrows():
    start, end = row
    print start, end

1994-07-06 1994-07-09
1994-11-04 1994-11-05
1995-04-19 1995-04-21
1996-09-18 1996-09-20
1996-10-07 1996-10-08
1996-10-27 1996-10-28
1997-03-04 1997-03-06
1997-04-26 1997-04-27
1997-06-17 1997-06-18
1998-05-13 1998-05-15
1998-07-20 1998-07-22
1998-07-25 1998-07-28
1999-01-07 1999-01-10
1999-02-04 1999-02-07
1999-02-15 1999-02-16
1999-03-04 1999-03-06
1999-04-12 1999-04-17
1999-05-10 1999-05-12
1999-06-10 1999-06-13
1999-06-24 1999-06-27
1999-07-02 1999-07-03
1999-09-07 1999-09-09
1999-09-11 1999-09-12
1999-10-05 1999-10-06
1999-10-26 1999-10-27
1999-11-04 1999-11-07
1999-12-20 1999-12-22
2000-01-09 2000-01-11
2000-05-08 2000-05-09
2000-05-11 2000-05-16
2000-06-11 2000-06-16
2000-07-10 2000-07-11
2000-08-11 2000-08-12
2000-11-07 2000-11-09
2000-12-26 2000-12-29
2001-01-12 2001-01-13
2001-02-13 2001-02-15
2001-03-18 2001-03-19
2001-05-06 2001-05-08
2001-06-11 2001-06-13
2001-06-18 2001-06-19
2001-06-26 2001-06-27
2001-07-10 2001-07-12
2001-07-20 2001-07-22
2001-08-08 2001-08-09
2001-10-05 2001-10-08
2001-10-27 2001-10-28
2002-01-22 2002-01-24
2002-02-16 2002-02-20
2002-03-09 2002-03-12
2002-04-09 2002-04-11
2002-04-20 2002-04-22
2002-05-02 2002-05-04
2002-07-01 2002-07-02
2002-07-15 2002-07-16
2002-10-05 2002-10-09
2002-12-17 2002-12-20
2003-01-21 2003-01-24
2003-01-27 2003-01-29
2003-04-10 2003-04-13
2003-06-13 2003-06-15
2003-07-18 2003-07-20
2003-10-17 2003-10-19
2003-10-31 2003-11-02
2003-11-10 2003-11-11
2003-11-17 2003-11-19
2003-12-28 2003-12-29
2004-01-01 2004-01-03
2004-01-16 2004-01-19
2004-02-02 2004-02-04
2004-02-15 2004-02-20
2004-04-07 2004-04-08
2004-04-10 2004-04-12
2004-08-15 2004-08-17
2004-10-08 2004-10-11
2004-10-22 2004-10-23
2004-11-19 2004-11-21
2004-11-25 2004-11-26
2004-11-30 2004-12-02
2005-02-06 2005-02-08
2005-02-16 2005-02-18
2005-02-24 2005-02-27
2005-03-10 2005-03-12
2005-04-24 2005-04-26
2005-05-13 2005-05-15
2005-08-03 2005-08-06
2005-10-22 2005-10-27
2005-11-27 2005-11-29
2005-12-07 2005-12-08
2006-01-15 2006-01-18
2006-02-18 2006-02-20
2006-08-08 2006-08-09
2006-10-08 2006-10-09
2007-01-13 2007-01-15
2007-01-21 2007-01-24
2007-04-15 2007-04-17
2007-06-19 2007-06-21
2007-10-01 2007-10-03
2007-11-14 2007-11-18
2007-12-06 2007-12-07
2008-04-06 2008-04-08
2008-07-25 2008-07-26
2008-12-04 2008-12-05
2009-01-01 2009-01-02
2009-01-10 2009-01-13
2009-01-27 2009-01-31
2009-02-02 2009-02-04
2009-02-19 2009-02-21
2009-02-22 2009-02-24
2009-03-13 2009-03-16
2009-03-16 2009-03-17
2009-05-17 2009-05-18
2009-06-09 2009-06-12
2009-06-24 2009-06-27
2009-07-02 2009-07-04
2009-09-08 2009-09-12
2009-10-06 2009-10-07
2009-10-09 2009-10-13
2009-10-15 2009-10-16
2009-10-18 2009-10-20
2009-10-23 2009-10-27
2009-11-20 2009-11-23
2009-12-22 2009-12-24
2009-12-29 2010-01-01
2010-01-15 2010-01-18
2010-04-13 2010-04-15
2010-10-11 2010-10-13
2010-10-16 2010-10-18
2010-10-28 2010-10-29
2010-11-04 2010-11-09
2010-11-13 2010-11-17
2010-12-08 2010-12-11
2011-01-02 2011-01-07
2011-01-15 2011-01-19
2011-02-15 2011-02-17
2011-03-14 2011-03-16
2011-04-02 2011-04-04
2011-04-05 2011-04-07
2011-04-29 2011-04-30
2011-05-24 2011-05-26
2011-06-20 2011-06-21
2011-06-24 2011-06-26
2012-04-16 2012-04-17
2012-06-11 2012-06-15
2012-08-03 2012-08-04
2012-08-24 2012-08-27
2012-10-28 2012-10-30

#### Create a list of dates spanning a time period

In [2]:
import dateutil

In [7]:
from dateutil import rrule, parser

date1 = '2011-05-03'
date2 = '2011-05-10'

dates = list(rrule.rrule(rrule.DAILY,
                         dtstart=parser.parse(date1),
                         until=parser.parse(date2)))

date_list = map(lambda x: x.strftime('%Y-%m-%d'), dates)

print date_list

['2011-05-03', '2011-05-04', '2011-05-05', '2011-05-06', '2011-05-07', '2011-05-08', '2011-05-09', '2011-05-10']

In [20]:
test = ['2003-12-31', '2005-06-07']
test2 = ['1996-12-31', '1985-06-07']

test.extend(test2)

print test

['2003-12-31', '2005-06-07', '1996-12-31', '1985-06-07']

Then `gio.write_dates(outfile, date_list)`

## Pre-processing

In [43]:
infile = '/g/data/ub4/erai/netcdf/6hr/atmos/oper_an_pl/v01/ua/ua_6hrs_ERAI_historical_an-pl_20000401_20000430.nc'

In [44]:
import iris
import iris.coord_categorisation

In [45]:
level_constraint = iris.Constraint(air_pressure=50000)

In [46]:
cube = iris.load_cube(infile, level_constraint)

In [47]:
print cube

eastward_wind / (m s**-1)           (time: 120; latitude: 241; longitude: 480)
     Dimension coordinates:
          time                           x              -               -
          latitude                       -              x               -
          longitude                      -              -               x
     Scalar coordinates:
          air_pressure: 50000.0 Pa
     Attributes:
          CDI: Climate Data Interface version 1.6.4 (http://code.zmaw.de/projects/cdi...
          CDO: Climate Data Operators version 1.6.4 (http://code.zmaw.de/projects/cdo...
          Conventions: CF-1.4
          MD5: 3ec3b5f919729c5c7ddc59ff5146603b
          NCO: 4.3.8
          code: 131
          history: Tue Jan 20 21:26:31 2015: ncks -O --md5_wrt_att -v ua U_2000_04.nc -o ua_6hrs_ERAI_historical_an-pl_20000401_20000430.nc
Tue...
          institution: ARCCSS ARC Centre of Excellence for Climate System Science www.climate...
          references: Please acknowledge both ECMWF for original files and the ARCCSS for conversion...
          source: Original grib files obtained from http://apps.ecmwf.int/datasets/data/interim_full_daily/...
          table: 128
          title: ERA-Interim U velocity [m s**-1] analysis on pressure (global 0.75X0.75...

In [29]:
cube.coord('longitude')

DimCoord(array([-180.  , -179.25, -178.5 , -177.75, -177.  , -176.25, -175.5 ,
       -174.75, -174.  , -173.25, -172.5 , -171.75, -171.  , -170.25,
       -169.5 , -168.75, -168.  , -167.25, -166.5 , -165.75, -165.  ,
       -164.25, -163.5 , -162.75, -162.  , -161.25, -160.5 , -159.75,
       -159.  , -158.25, -157.5 , -156.75, -156.  , -155.25, -154.5 ,
       -153.75, -153.  , -152.25, -151.5 , -150.75, -150.  , -149.25,
       -148.5 , -147.75, -147.  , -146.25, -145.5 , -144.75, -144.  ,
       -143.25, -142.5 , -141.75, -141.  , -140.25, -139.5 , -138.75,
       -138.  , -137.25, -136.5 , -135.75, -135.  , -134.25, -133.5 ,
       -132.75, -132.  , -131.25, -130.5 , -129.75, -129.  , -128.25,
       -127.5 , -126.75, -126.  , -125.25, -124.5 , -123.75, -123.  ,
       -122.25, -121.5 , -120.75, -120.  , -119.25, -118.5 , -117.75,
       -117.  , -116.25, -115.5 , -114.75, -114.  , -113.25, -112.5 ,
       -111.75, -111.  , -110.25, -109.5 , -108.75, -108.  , -107.25,
       -106.5 , -105.75, -105.  , -104.25, -103.5 , -102.75, -102.  ,
       -101.25, -100.5 ,  -99.75,  -99.  ,  -98.25,  -97.5 ,  -96.75,
        -96.  ,  -95.25,  -94.5 ,  -93.75,  -93.  ,  -92.25,  -91.5 ,
        -90.75,  -90.  ,  -89.25,  -88.5 ,  -87.75,  -87.  ,  -86.25,
        -85.5 ,  -84.75,  -84.  ,  -83.25,  -82.5 ,  -81.75,  -81.  ,
        -80.25,  -79.5 ,  -78.75,  -78.  ,  -77.25,  -76.5 ,  -75.75,
        -75.  ,  -74.25,  -73.5 ,  -72.75,  -72.  ,  -71.25,  -70.5 ,
        -69.75,  -69.  ,  -68.25,  -67.5 ,  -66.75,  -66.  ,  -65.25,
        -64.5 ,  -63.75,  -63.  ,  -62.25,  -61.5 ,  -60.75,  -60.  ,
        -59.25,  -58.5 ,  -57.75,  -57.  ,  -56.25,  -55.5 ,  -54.75,
        -54.  ,  -53.25,  -52.5 ,  -51.75,  -51.  ,  -50.25,  -49.5 ,
        -48.75,  -48.  ,  -47.25,  -46.5 ,  -45.75,  -45.  ,  -44.25,
        -43.5 ,  -42.75,  -42.  ,  -41.25,  -40.5 ,  -39.75,  -39.  ,
        -38.25,  -37.5 ,  -36.75,  -36.  ,  -35.25,  -34.5 ,  -33.75,
        -33.  ,  -32.25,  -31.5 ,  -30.75,  -30.  ,  -29.25,  -28.5 ,
        -27.75,  -27.  ,  -26.25,  -25.5 ,  -24.75,  -24.  ,  -23.25,
        -22.5 ,  -21.75,  -21.  ,  -20.25,  -19.5 ,  -18.75,  -18.  ,
        -17.25,  -16.5 ,  -15.75,  -15.  ,  -14.25,  -13.5 ,  -12.75,
        -12.  ,  -11.25,  -10.5 ,   -9.75,   -9.  ,   -8.25,   -7.5 ,
         -6.75,   -6.  ,   -5.25,   -4.5 ,   -3.75,   -3.  ,   -2.25,
         -1.5 ,   -0.75,    0.  ,    0.75,    1.5 ,    2.25,    3.  ,
          3.75,    4.5 ,    5.25,    6.  ,    6.75,    7.5 ,    8.25,
          9.  ,    9.75,   10.5 ,   11.25,   12.  ,   12.75,   13.5 ,
         14.25,   15.  ,   15.75,   16.5 ,   17.25,   18.  ,   18.75,
         19.5 ,   20.25,   21.  ,   21.75,   22.5 ,   23.25,   24.  ,
         24.75,   25.5 ,   26.25,   27.  ,   27.75,   28.5 ,   29.25,
         30.  ,   30.75,   31.5 ,   32.25,   33.  ,   33.75,   34.5 ,
         35.25,   36.  ,   36.75,   37.5 ,   38.25,   39.  ,   39.75,
         40.5 ,   41.25,   42.  ,   42.75,   43.5 ,   44.25,   45.  ,
         45.75,   46.5 ,   47.25,   48.  ,   48.75,   49.5 ,   50.25,
         51.  ,   51.75,   52.5 ,   53.25,   54.  ,   54.75,   55.5 ,
         56.25,   57.  ,   57.75,   58.5 ,   59.25,   60.  ,   60.75,
         61.5 ,   62.25,   63.  ,   63.75,   64.5 ,   65.25,   66.  ,
         66.75,   67.5 ,   68.25,   69.  ,   69.75,   70.5 ,   71.25,
         72.  ,   72.75,   73.5 ,   74.25,   75.  ,   75.75,   76.5 ,
         77.25,   78.  ,   78.75,   79.5 ,   80.25,   81.  ,   81.75,
         82.5 ,   83.25,   84.  ,   84.75,   85.5 ,   86.25,   87.  ,
         87.75,   88.5 ,   89.25,   90.  ,   90.75,   91.5 ,   92.25,
         93.  ,   93.75,   94.5 ,   95.25,   96.  ,   96.75,   97.5 ,
         98.25,   99.  ,   99.75,  100.5 ,  101.25,  102.  ,  102.75,
        103.5 ,  104.25,  105.  ,  105.75,  106.5 ,  107.25,  108.  ,
        108.75,  109.5 ,  110.25,  111.  ,  111.75,  112.5 ,  113.25,
        114.  ,  114.75,  115.5 ,  116.25,  117.  ,  117.75,  118.5 ,
        119.25,  120.  ,  120.75,  121.5 ,  122.25,  123.  ,  123.75,
        124.5 ,  125.25,  126.  ,  126.75,  127.5 ,  128.25,  129.  ,
        129.75,  130.5 ,  131.25,  132.  ,  132.75,  133.5 ,  134.25,
        135.  ,  135.75,  136.5 ,  137.25,  138.  ,  138.75,  139.5 ,
        140.25,  141.  ,  141.75,  142.5 ,  143.25,  144.  ,  144.75,
        145.5 ,  146.25,  147.  ,  147.75,  148.5 ,  149.25,  150.  ,
        150.75,  151.5 ,  152.25,  153.  ,  153.75,  154.5 ,  155.25,
        156.  ,  156.75,  157.5 ,  158.25,  159.  ,  159.75,  160.5 ,
        161.25,  162.  ,  162.75,  163.5 ,  164.25,  165.  ,  165.75,
        166.5 ,  167.25,  168.  ,  168.75,  169.5 ,  170.25,  171.  ,
        171.75,  172.5 ,  173.25,  174.  ,  174.75,  175.5 ,  176.25,
        177.  ,  177.75,  178.5 ,  179.25]), standard_name=u'longitude', units=Unit('degrees'), long_name=u'longitude', var_name='lon', attributes={'MD5': '2de2e810f2d1dc69facaf857ad1c8f73'})

In [36]:
cube.coord('latitude')

DimCoord(array([ 90.  ,  89.25,  88.5 ,  87.75,  87.  ,  86.25,  85.5 ,  84.75,
        84.  ,  83.25,  82.5 ,  81.75,  81.  ,  80.25,  79.5 ,  78.75,
        78.  ,  77.25,  76.5 ,  75.75,  75.  ,  74.25,  73.5 ,  72.75,
        72.  ,  71.25,  70.5 ,  69.75,  69.  ,  68.25,  67.5 ,  66.75,
        66.  ,  65.25,  64.5 ,  63.75,  63.  ,  62.25,  61.5 ,  60.75,
        60.  ,  59.25,  58.5 ,  57.75,  57.  ,  56.25,  55.5 ,  54.75,
        54.  ,  53.25,  52.5 ,  51.75,  51.  ,  50.25,  49.5 ,  48.75,
        48.  ,  47.25,  46.5 ,  45.75,  45.  ,  44.25,  43.5 ,  42.75,
        42.  ,  41.25,  40.5 ,  39.75,  39.  ,  38.25,  37.5 ,  36.75,
        36.  ,  35.25,  34.5 ,  33.75,  33.  ,  32.25,  31.5 ,  30.75,
        30.  ,  29.25,  28.5 ,  27.75,  27.  ,  26.25,  25.5 ,  24.75,
        24.  ,  23.25,  22.5 ,  21.75,  21.  ,  20.25,  19.5 ,  18.75,
        18.  ,  17.25,  16.5 ,  15.75,  15.  ,  14.25,  13.5 ,  12.75,
        12.  ,  11.25,  10.5 ,   9.75,   9.  ,   8.25,   7.5 ,   6.75,
         6.  ,   5.25,   4.5 ,   3.75,   3.  ,   2.25,   1.5 ,   0.75,
         0.  ,  -0.75,  -1.5 ,  -2.25,  -3.  ,  -3.75,  -4.5 ,  -5.25,
        -6.  ,  -6.75,  -7.5 ,  -8.25,  -9.  ,  -9.75, -10.5 , -11.25,
       -12.  , -12.75, -13.5 , -14.25, -15.  , -15.75, -16.5 , -17.25,
       -18.  , -18.75, -19.5 , -20.25, -21.  , -21.75, -22.5 , -23.25,
       -24.  , -24.75, -25.5 , -26.25, -27.  , -27.75, -28.5 , -29.25,
       -30.  , -30.75, -31.5 , -32.25, -33.  , -33.75, -34.5 , -35.25,
       -36.  , -36.75, -37.5 , -38.25, -39.  , -39.75, -40.5 , -41.25,
       -42.  , -42.75, -43.5 , -44.25, -45.  , -45.75, -46.5 , -47.25,
       -48.  , -48.75, -49.5 , -50.25, -51.  , -51.75, -52.5 , -53.25,
       -54.  , -54.75, -55.5 , -56.25, -57.  , -57.75, -58.5 , -59.25,
       -60.  , -60.75, -61.5 , -62.25, -63.  , -63.75, -64.5 , -65.25,
       -66.  , -66.75, -67.5 , -68.25, -69.  , -69.75, -70.5 , -71.25,
       -72.  , -72.75, -73.5 , -74.25, -75.  , -75.75, -76.5 , -77.25,
       -78.  , -78.75, -79.5 , -80.25, -81.  , -81.75, -82.5 , -83.25,
       -84.  , -84.75, -85.5 , -86.25, -87.  , -87.75, -88.5 , -89.25, -90.  ]), standard_name=u'latitude', units=Unit('degrees'), long_name=u'latitude', var_name='lat', attributes={'MD5': 'c934e75b94bee0509c067661b9db5543'})

Will need to flip the latitude axis and make longitude 0 - 360 offline, as I can't figure out how to do it with iris. The command would be:
```
$ cdo invertlat -sellonlatbox 0,359.9,-90,90
```

In [48]:
cube.coord('time')

DimCoord(array([ 878760.,  878766.,  878772.,  878778.,  878784.,  878790.,
        878796.,  878802.,  878808.,  878814.,  878820.,  878826.,
        878832.,  878838.,  878844.,  878850.,  878856.,  878862.,
        878868.,  878874.,  878880.,  878886.,  878892.,  878898.,
        878904.,  878910.,  878916.,  878922.,  878928.,  878934.,
        878940.,  878946.,  878952.,  878958.,  878964.,  878970.,
        878976.,  878982.,  878988.,  878994.,  879000.,  879006.,
        879012.,  879018.,  879024.,  879030.,  879036.,  879042.,
        879048.,  879054.,  879060.,  879066.,  879072.,  879078.,
        879084.,  879090.,  879096.,  879102.,  879108.,  879114.,
        879120.,  879126.,  879132.,  879138.,  879144.,  879150.,
        879156.,  879162.,  879168.,  879174.,  879180.,  879186.,
        879192.,  879198.,  879204.,  879210.,  879216.,  879222.,
        879228.,  879234.,  879240.,  879246.,  879252.,  879258.,
        879264.,  879270.,  879276.,  879282.,  879288.,  879294.,
        879300.,  879306.,  879312.,  879318.,  879324.,  879330.,
        879336.,  879342.,  879348.,  879354.,  879360.,  879366.,
        879372.,  879378.,  879384.,  879390.,  879396.,  879402.,
        879408.,  879414.,  879420.,  879426.,  879432.,  879438.,
        879444.,  879450.,  879456.,  879462.,  879468.,  879474.]), standard_name=u'time', units=Unit('hours since 1900-01-01 00:00:00', calendar='proleptic_gregorian'), var_name='time', attributes={'MD5': 'a144f5b8db41ba0feed4c0fd613e629d'})

In [49]:
iris.coord_categorisation.add_day_of_year(cube, 'time')
iris.coord_categorisation.add_year(cube, 'time')
cube = cube.aggregated_by(['day_of_year', 'year'], iris.analysis.MEAN)
cube.remove_coord('day_of_year')
cube.remove_coord('year')

In [50]:
print(cube)

eastward_wind / (m s**-1)           (time: 30; latitude: 241; longitude: 480)
     Dimension coordinates:
          time                           x             -               -
          latitude                       -             x               -
          longitude                      -             -               x
     Scalar coordinates:
          air_pressure: 50000.0 Pa
     Attributes:
          CDI: Climate Data Interface version 1.6.4 (http://code.zmaw.de/projects/cdi...
          CDO: Climate Data Operators version 1.6.4 (http://code.zmaw.de/projects/cdo...
          Conventions: CF-1.4
          MD5: 3ec3b5f919729c5c7ddc59ff5146603b
          NCO: 4.3.8
          code: 131
          history: Tue Jan 20 21:26:31 2015: ncks -O --md5_wrt_att -v ua U_2000_04.nc -o ua_6hrs_ERAI_historical_an-pl_20000401_20000430.nc
Tue...
          institution: ARCCSS ARC Centre of Excellence for Climate System Science www.climate...
          references: Please acknowledge both ECMWF for original files and the ARCCSS for conversion...
          source: Original grib files obtained from http://apps.ecmwf.int/datasets/data/interim_full_daily/...
          table: 128
          title: ERA-Interim U velocity [m s**-1] analysis on pressure (global 0.75X0.75...
     Cell methods:
          mean: day_of_year, year

In [51]:
cube.coord('time')

DimCoord(array([ 878769.,  878793.,  878817.,  878841.,  878865.,  878889.,
        878913.,  878937.,  878961.,  878985.,  879009.,  879033.,
        879057.,  879081.,  879105.,  879129.,  879153.,  879177.,
        879201.,  879225.,  879249.,  879273.,  879297.,  879321.,
        879345.,  879369.,  879393.,  879417.,  879441.,  879465.]), bounds=array([[ 878760.,  878778.],
       [ 878784.,  878802.],
       [ 878808.,  878826.],
       [ 878832.,  878850.],
       [ 878856.,  878874.],
       [ 878880.,  878898.],
       [ 878904.,  878922.],
       [ 878928.,  878946.],
       [ 878952.,  878970.],
       [ 878976.,  878994.],
       [ 879000.,  879018.],
       [ 879024.,  879042.],
       [ 879048.,  879066.],
       [ 879072.,  879090.],
       [ 879096.,  879114.],
       [ 879120.,  879138.],
       [ 879144.,  879162.],
       [ 879168.,  879186.],
       [ 879192.,  879210.],
       [ 879216.,  879234.],
       [ 879240.,  879258.],
       [ 879264.,  879282.],
       [ 879288.,  879306.],
       [ 879312.,  879330.],
       [ 879336.,  879354.],
       [ 879360.,  879378.],
       [ 879384.,  879402.],
       [ 879408.,  879426.],
       [ 879432.,  879450.],
       [ 879456.,  879474.]]), standard_name=u'time', units=Unit('hours since 1900-01-01 00:00:00', calendar='proleptic_gregorian'), var_name='time', attributes={'MD5': 'a144f5b8db41ba0feed4c0fd613e629d'})